runtime: php73

env_variables:
  ## Put your environment variables here.
  APP_KEY: ${_APP_KEY}
  APP_ENV: production
  FILESYSTEM_DISK: gcs
  FILESYSTEM_CLOUD: gcs
  APP_STORAGE: /tmp
  VIEW_COMPILED_PATH: /tmp
  LOG_CHANNEL: stackdriver
  APP_DEBUG: false
  SESSION_DRIVER: firestore
  CACHE_DRIVER: firestore
  ## Store bootstrap cache files in writeable /tmp.
  APP_SERVICES_CACHE: /tmp/bootstrap-cache-services.php
  APP_PACKAGES_CACHE: /tmp/bootstrap-cache-packages.php

handlers:
- url: /robots.txt
  static_files: public/robots.txt
  upload: public/robots.txt

- url: /favicon.ico
  static_files: public/favicon.ico
  upload: public/favicon.ico

- url: /static
  static_dir: public/static

- url: .*
  script: auto
