runtime: php84

env_variables:
  FILESYSTEM_DISK: gcs
  FILESYSTEM_CLOUD: gcs
  VIEW_COMPILED_PATH: /tmp
  LOG_CHANNEL: stderr
  LOG_STDERR_FORMATTER: Monolog\Formatter\GoogleCloudLoggingFormatter
  SESSION_DRIVER: firestore
  CACHE_STORE: firestore
  ## Store bootstrap cache files in writeable /tmp.
  APP_SERVICES_CACHE: /tmp/bootstrap-cache-services.php
  APP_PACKAGES_CACHE: /tmp/bootstrap-cache-packages.php
  LARAVEL_STORAGE_PATH: /tmp
build_env_variables:
  GOOGLE_COMPOSER_VERSION: 2.5.8
  APP_SERVICES_CACHE: /tmp/bootstrap-cache-services.php
  APP_PACKAGES_CACHE: /tmp/bootstrap-cache-packages.php
handlers:
- url: /robots.txt
  static_files: public/robots.txt
  upload: public/robots.txt

- url: /favicon.ico
  static_files: public/favicon.ico
  upload: public/favicon.ico

- url: /static
  static_dir: public/static

- url: .*
  script: auto
